@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-fade-in: fade-in 0.3s ease-in forwards;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: url("/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: overlay;
  repeat: no-repeat;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 40px;
}
