/* HAMBURGER MENU */

.hamburger {
  /* cursor: pointer; */
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  color: blue;
  z-index: 30;
}

.hamburger_top,
.hamburger_middle,
.hamburger_bottom {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  top: 0;
  left: 0;
  background: grey;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger_middle {
  transform: translateY(7px);
}

.hamburger_bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  top: 0;
  left: 0;
  /* position: fixed; */
  /* right: 32px; */
}

.open .hamburger_top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger_middle {
  display: none;
}

.open .hamburger_bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.hover\:border-2:hover {
  border-width: 2px;
}

.hover\:border-softBlue:hover {
  --tw-border-opacity: 1;
  border-color: hsl(231 69% 60% / var(--tw-border-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-softRed:hover {
  --tw-text-opacity: 1;
  color: hsl(0 94% 66% / var(--tw-text-opacity));
}

.hover\:text-softBlue:hover {
  --tw-text-opacity: 1;
  color: hsl(231 69% 60% / var(--tw-text-opacity));
}

.hover\:text-gray-600:hover {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.hover\:opacity-90:hover {
  opacity: 0.9;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.group:focus .group-focus\:max-h-screen {
  max-height: 100vh;
}

.group:focus .group-focus\:-rotate-180 {
  --tw-rotate: -180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:focus .group-focus\:text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
