.image {
  border-radius: 6px;
  aspect-ratio: 1 / 1;

  --tw-shadow-alpha: 30%;
  --tw-shadow: 0 20px 25px -5px var(--tw-shadow-color, oklab(from
            rgb(0 0 0 / 0.1) l a b / 30%)),
    0 8px 10px -6px var(--tw-shadow-color, oklab(from rgb(0 0 0 / 0.1) l a b /
            30%));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
